div.article-container>h1 {
    display: flex;
    align-items: baseline;
    margin: 0;
    & span {
        margin: 0 0 0 16px;
        font-size: 21px;
        text-align: right;
    }
}

div.article-container>h3 {
    margin: 8px 0;
}