table.MDTable {
    border: color-mix(in srgb, white, gray) 1px solid;
    border-collapse: collapse;
    & thead, tbody {
      margin: 0;
    }
    & th, td {
      padding: 10px;
      border: color-mix(in srgb, white, gray) 1px solid;
    }

    & th {
        border-bottom: color-mix(in srgb, white, gray) 2px solid;
    }
    & ol, ul {
      list-style-position: inside
    }
  }

.article-contents img {
  max-height: 85vh;
  max-width: 100%;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}
